:host {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;
    height: 100%;
}

.twitter-graph {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.searchbar {
    position: absolute;
    margin: 24px;

    width: 46%;

    user-select: none;
    font-size: 16px;
    line-height: inherit;
}

::ng-deep .searchbar-autocomplete {
    margin-left: 32px;
    margin-right: 32px;
}

.searchbar-autocomplete-icon {
    color: #666666 !important;
}

.fab {
    position: absolute;
    overflow: hidden;
    z-index: 2;

    padding: 0 26px;
    border-radius: 29px;

    transition: width 0.3s, box-shadow 0.3s, right 0.3s, bottom 0.3s;

    .mat-icon {
        margin-right: 10px;
    }

    .fab-text {
        font-weight: 500;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    .fab-content-container {
        display: grid;
    
        .fab-content {
            display: flex;
            align-items: center; 
            
            grid-row: 1;
            grid-column: 1;

            transition: opacity 0.3s; 
        }
    }
}

.fab-drawer-opened {
    width: 182px;

    right: 96px;
    bottom: calc(17% - 28px);
}

.fab-drawer-closed {
    width: 247px;

    right: 58px;
    bottom: 42px;
}

.visible-profiles-drawer-container {
    position: absolute;
    top: 17%;

    width: 100%; 
    height: 66%;

    pointer-events: none;
    background-color: transparent;
}

.visible-profiles-drawer {
    display: flex; 
    flex-direction: column;

    width: 374px;

    pointer-events: all;

    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 24px;

    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgba(0, 0, 0, 0.12); 
    border-top-left-radius: 24px;

    border-left-width: 2px;

    .title {
        margin-left: 24px;
        margin-top: 12px;
    }

    .tabs {
        flex-grow: 1;

        .tab-icon {
            margin-right: 8px;
        }
    }
}

.visible-profiles-list {
    display: flex;
    flex-grow: 1; 

    margin-top: -8px;

    .virtual-scroll {
        flex-grow: 1;
    }

    .profile-image {
        padding: 2px;
        margin-left: 4px;

        border-style: solid;
        border-width: 2px;
    }

    .profile-name {
        overflow: hidden;
        max-width: 258px;
    
        text-overflow: ellipsis;
        white-space: nowrap
    }
}

.visible-profiles-tweets-list {
    display: flex;
    flex-grow: 1; 

    margin-top: -8px;

    .virtual-scroll {
        flex-grow: 1;
    }

    .profile-item {
        max-width: 358px;
    }
}

.empty-list-hint {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;

    font-size: 16px;
    color: #7A7A7A;

    .icon {
        margin-bottom: 12px;
        margin-top: -24px;

        width: 32px; 
        height: 32px;

        font-size: 32px;
        line-height: 32px;
    }
}

.menu-title {
    margin-left: 16px;
    margin-bottom: 12px;
    margin-top: 8px; 

    width: 168px;
    
    font-size: 12px; 
    font-weight: 500;
    line-height: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu-text {
    margin-left: 16px;
    margin-right: 16px;
}

.filter-menu-body {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 14px; 
    
    overflow: hidden;

    .filter-container {
        display: flex;
    }

    .filter-container-seperator {
        margin: -2px -20px 20px -20px;
    }

    .filter-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .filter-slider-container {
        width: 220px;
    
        .filter-slider {
            width: 100%;
        }
    }

    .filter-slider-reset-button {
        margin-top: 23px;
        margin-left: 8px;
        
        transform: scale(-1, 1);
    }
}

.followee-filter {
    display: flex;
    flex-direction: column;
    
    width: 100%;

    .filter-label {
        margin-bottom: 2px;
        height: 28px;
    }

    .followee-filter-form {
        margin-right: 6px;
    }
    
    .followee-filter-loading-indicator {
        margin-right: 8px;
    }
    
    .followee-filter-help-button {
        margin-right: 4px; 
    
        width: 28px;
        height: 28px;
    
        font-size: 14px;
        line-height: 28px;
    }
    
    .followee-filter-option-icon {
        color: #666666 !important;
    }
}

::ng-deep .followee-filter-help-menu {
    margin-left: -12px;
    margin-right: -12px;
}

::ng-deep .twitter-emoji {
    margin-left: 1px;
    margin-right: 1px;
    height: 17px;
    
    vertical-align: middle;
}


::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-tab-body-content {
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-tab-body-wrapper {
    flex-grow: 1;
}

::ng-deep .mat-form-field-prefix {
    margin-left: 6px;
    margin-right: 12px;
}

::ng-deep .mat-form-field-outline {
    border-radius: 32px;
    background-color: white;

    > div {
        border-width: 2px !important;
    }

    .mat-form-field-outline-start {
        border-radius: 32px 0 0 32px !important;
    }

    .mat-form-field-outline-end {
        border-radius: 0 32px 32px 0 !important;
    }
}

::ng-deep .mat-slider-thumb, ::ng-deep .mat-slider-thumb-label {
    border: none !important;
    background-color: #1e88e5 !important;
}