<!-- Twitter graph -->
<twitter-graph class="twitter-graph"
    [profiles]="this.twitterProfiles"
    [communities]="this.twitterCommunities"
    (profileClicked)="openTwitterProfileDialog($event)"
    (communityClicked)="openTwitterCommunityDialog($event)"
    (visibleProfilesChanged)="onVisibleTwitterProfilesChanged($event)">
</twitter-graph>

<!-- Searchbar -->
<mat-form-field class="searchbar" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    
    <mat-label>Suchen oder Profile hinzufügen</mat-label>
    <input matInput [formControl]="searchFormControl" [matAutocomplete]="searchAutocomplete">
    <mat-autocomplete autoActiveFirstOption class="searchbar-autocomplete" #searchAutocomplete="matAutocomplete"
        [displayWith]="stringifySearchResult"
        (optionSelected)="onSearchResultSelected($event.option.value)">
        <mat-option *ngFor="let searchResult of searchResults | async" [value]="searchResult">
            <ng-container [ngSwitch]="searchResult.type">

                <ng-container *ngSwitchCase="'existing-twitter-profile'">
                    <mat-icon class="searchbar-autocomplete-icon">person</mat-icon>
                    {{searchResult.data.name}} (@{{searchResult.data.username}})
                </ng-container>

                <ng-container *ngSwitchCase="'custom-twitter-profile'">
                    <mat-icon class="searchbar-autocomplete-icon">add</mat-icon>
                    @{{searchResult.data}} hinzufügen...
                </ng-container>

            </ng-container>
        </mat-option>
    </mat-autocomplete>

    <button mat-icon-button matSuffix
        [matMenuTriggerFor]="filterMenu"
        (click)="$event.stopPropagation()">
        <mat-icon
            [matBadge]="activeFilterCount"
            [matBadgeHidden]="!activeFilterCount">
            filter_list
        </mat-icon>
    </button>
    <button mat-icon-button matSuffix 
        [matMenuTriggerFor]="moreMenu"
        (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-form-field>

<!-- FAB -->
<button mat-fab class="fab" color="primary" (click)="drawer.toggle()"
    [ngClass]="{
        'fab-drawer-opened': drawer.opened,
        'mat-elevation-z0': drawer.opened,
        'fab-drawer-closed': !drawer.opened
    }">
    <div class="fab-content-container">
        <div class="fab-content" [style.opacity]="!drawer.opened ? 1 : 0">
            <mat-icon>person_search</mat-icon>
            <span class="fab-text">Sichtbare Profile</span>
        </div>
        <div class="fab-content" [style.opacity]="drawer.opened ? 1 : 0">
            <mat-icon>close</mat-icon>
            <span class="fab-text">Schließen</span>
        </div>
    </div>
</button>

<!-- Visible profiles drawer -->
<mat-drawer-container class="visible-profiles-drawer-container" autosize>
    <mat-drawer #drawer class="visible-profiles-drawer" mode="side" position="end">
        <h2 class="title">Aktuell sichtbar</h2>
        <mat-tab-group class="tabs" mat-stretch-tabs [disablePagination]="true">

            <!-- Profiles -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">people</mat-icon>
                    Profile
                </ng-template>

                <ng-template matTabContent>

                    <mat-action-list *ngIf="visibleTwitterProfiles.length" class="visible-profiles-list">
                        <cdk-virtual-scroll-viewport class="virtual-scroll" [itemSize]="72">
                            <ng-container *cdkVirtualFor="let twitterProfile of visibleTwitterProfiles">
                                <mat-list-item>
                                    <img matListAvatar class="profile-image"
                                        [style.border-color]="TWITTER_COMMUNITY_COLORS[twitterProfile.communityId]"
                                        [src]="twitterProfile.imageUrl.replace('_200x200', '_normal')">
                                    <div mat-line class="profile-name" [innerHTML]="Utils.twemojify(twitterProfile.name)"></div>
                                    <div mat-line>@{{twitterProfile.username}}</div>
                                </mat-list-item>
                            </ng-container>
                        </cdk-virtual-scroll-viewport>
                    </mat-action-list>

                    <div *ngIf="!visibleTwitterProfiles.length" class="empty-list-hint">
                        <mat-icon class="icon">person_off</mat-icon>
                        <span>Keine Profile sichtbar</span>
                    </div>

                </ng-template>
            </mat-tab>

            <!-- Tweets -->
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="tab-icon">tag</mat-icon>
                    Tweets
                </ng-template>
            
                <ng-template matTabContent>

                    <mat-action-list *ngIf="visibleTwitterProfilesTweets.length" class="visible-profiles-tweets-list">
                        <cdk-virtual-scroll-viewport autosize class="virtual-scroll" autosize>
                            <ng-container *cdkVirtualFor="let tweet of visibleTwitterProfilesTweets">
                                <mat-list-item class="profile-item">
                                    <div mat-line>@{{tweet.username}}</div>
                                    <div mat-line>{{tweet.text}}</div>
                                </mat-list-item>
                            </ng-container>
                        </cdk-virtual-scroll-viewport>
                    </mat-action-list>

                    <div *ngIf="!visibleTwitterProfilesTweets.length" class="empty-list-hint">
                        <mat-icon class="icon">search_off</mat-icon>
                        <span>Keine Tweets gefunden</span>
                    </div>

                </ng-template>
            </mat-tab>

        </mat-tab-group>
    </mat-drawer>
</mat-drawer-container>


<!-- Filter menu -->
<mat-menu #filterMenu="matMenu">
    <div class="menu-title">Filter</div>
    <div class="filter-menu-body" 
        (click)="$event.stopPropagation()" 
        (mouseleave)="minTwitterFollowersLimitSlider.blur(); maxTwitterFollowersLimitSlider.blur();" 
        (mouseup)="minTwitterFollowersLimitSlider.blur(); maxTwitterFollowersLimitSlider.blur();">
       
        <div class="filter-container">
            <div class="followee-filter">
                <div class="filter-label">
                    <span>Gefolgt von:</span>
                    <button
                        *ngIf="!isLoadingFolloweeFilterData"
                        class="followee-filter-help-button"
                        mat-icon-button
                        [matMenuTriggerFor]="followeeFilterHelpMenu">
                        <mat-icon [inline]="true">help_outline</mat-icon>
                    </button>
                    <mat-spinner
                        *ngIf="isLoadingFolloweeFilterData"
                        class="followee-filter-loading-indicator"
                        [diameter]="16">
                    </mat-spinner>
                </div>
                <mat-form-field class="followee-filter-form" appearance="fill">
                    <mat-label>Benutzername</mat-label>
                    <mat-icon matPrefix>alternate_email</mat-icon>

                    <input matInput placeholder="z.B. tagesschau" 
                        [formControl]="followeeFilterFormControl"
                        [matAutocomplete]="filterAutocomplete">

                    <mat-autocomplete autoActiveFirstOption #filterAutocomplete="matAutocomplete"
                        [displayWith]="stringifyTwitterProfile"
                        (optionSelected)="onFolloweeFilterOptionSelected($event.option.value)">
                        <mat-option *ngFor="let filterOption of followeeFilterOptions | async" [value]="filterOption">
                            <mat-icon class="followee-filter-option-icon">person</mat-icon>
                            @{{filterOption.username}}
                        </mat-option>
                    </mat-autocomplete>

                    <button mat-icon-button matSuffix 
                        (click)="onFolloweeFilterReset(); $event.stopPropagation()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>

        <mat-divider class="filter-container-seperator"></mat-divider>

        <div class="filter-container">
            <div class="filter-slider-container">
                <div class="filter-label">
                    <span>Follower (Mindestens):</span>
                    <span style="color: #696969;">{{Utils.shortenNumber(minTwitterFollowersLimit)}}</span>
                </div>
                <mat-slider #minTwitterFollowersLimitSlider 
                    class="filter-slider" 
                    color="primary"
                    min="0"
                    max="1000"
                    step="1"
                    value="0"
                    (change)="onTwitterFollowersLimitSliderChanged()"
                    (input)="onMinTwitterFollowersLimitSliderMoved($event.value)">
                </mat-slider>
            </div>
            <button class="filter-slider-reset-button" mat-icon-button
                (click)="minTwitterFollowersLimitSlider.value = 0; onMinTwitterFollowersLimitSliderMoved(0); onTwitterFollowersLimitSliderChanged();">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>

        <div class="filter-container">
            <div class="filter-slider-container">
                <div class="filter-label">
                    <span>Follower (Höchstens):</span>
                    <span style="color: #696969;">{{Utils.shortenNumber(maxTwitterFollowersLimit)}}</span>
                </div>
                <mat-slider #maxTwitterFollowersLimitSlider
                    class="filter-slider"
                    color="primary"
                    min="0"
                    max="1000"
                    step="1"
                    value="1000"
                    (change)="onTwitterFollowersLimitSliderChanged()"
                    (input)="onMaxTwitterFollowersLimitSliderMoved($event.value)">
                </mat-slider>
            </div>
            <button class="filter-slider-reset-button" mat-icon-button 
                (click)="maxTwitterFollowersLimitSlider.value = 1000; onMaxTwitterFollowersLimitSliderMoved(1000); onTwitterFollowersLimitSliderChanged();">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        
    </div>
</mat-menu>

<!-- Followee filter help menu -->
<mat-menu #followeeFilterHelpMenu="matMenu" class="followee-filter-help-menu">
    <div class="menu-title">Info</div>
    <p class="menu-text">
        Es kann nur nach Benutzern gefiltert werden, die bereits hinzugefügt wurden.
    </p>
    <p class="menu-text">
        Um einen Benutzer hinzuzufügen, suchen Sie nach dem zugehörigen Benutzernamen in der Haupt-Suchleiste.
    </p>
    <p class="menu-text">
        Das Filterergebnis kann unter Umständen unvollständig sein, da aufgrund der Einschränkungen von Twitter nicht
        der gesamte Datensatz abgefragt werden kann.
    </p>
</mat-menu>

<!-- More menu -->
<mat-menu #moreMenu="matMenu">
    <div class="menu-title">Mehr</div>
    <button mat-menu-item (click)="openSettingsDialog()">Einstellungen</button>
    <button mat-menu-item (click)="openHelpDialog()">Hilfe</button>
</mat-menu>