<!-- Twitter graph -->
<twitter-graph class="twitter-graph"
    [profiles]="this.twitterProfiles"
    [communities]="this.twitterCommunities"
    (profileClicked)="openTwitterProfileDialog($event)"
    (communityClicked)="openTwitterCommunityDialog($event)">
</twitter-graph>

<!-- Searchbar -->
<mat-form-field class="searchbar" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    
    <mat-label>Suchen</mat-label>
    <input matInput [formControl]="searchFormControl" [matAutocomplete]="searchAutocomplete">
    <mat-autocomplete autoActiveFirstOption class="searchbar-autocomplete" #searchAutocomplete="matAutocomplete"
        [displayWith]="stringifySearchResult"
        (optionSelected)="onSearchResultSelected($event.option.value)">
        <mat-option *ngFor="let searchResult of searchResults | async" [value]="searchResult">
            <ng-container [ngSwitch]="searchResult.type">

                <ng-container *ngSwitchCase="'existing-twitter-profile'">
                    <mat-icon class="searchbar-autocomplete-icon">person</mat-icon>
                    {{searchResult.data.name}} (@{{searchResult.data.username}})
                </ng-container>

                <ng-container *ngSwitchCase="'custom-twitter-profile'">
                    <mat-icon class="searchbar-autocomplete-icon">add</mat-icon>
                    @{{searchResult.data}} hinzufügen...
                </ng-container>

            </ng-container>
        </mat-option>
    </mat-autocomplete>

    <button mat-icon-button matSuffix
        [matMenuTriggerFor]="filterMenu"
        
        (click)="$event.stopPropagation()">
        <mat-icon [matBadge]="activeFilterCount" [matBadgeHidden]="!activeFilterCount">filter_list</mat-icon>
    </button>
    <button mat-icon-button matSuffix 
        [matMenuTriggerFor]="moreMenu"
        (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-form-field>

<!-- Filter menu -->
<mat-menu #filterMenu="matMenu">
    <div class="menu-title">Filter</div>
    <div class="filter-menu-body" 
        (click)="$event.stopPropagation()" 
        (mouseleave)="minTwitterFollowersLimitSlider.blur(); maxTwitterFollowersLimitSlider.blur();" 
        (mouseup)="minTwitterFollowersLimitSlider.blur(); maxTwitterFollowersLimitSlider.blur();">
       
        <div style="display: flex;">
            <div style="width: 220px;">
                <div class="filter-slider-label">
                    <span>Follower (Mindestens):</span>
                    <span style="color: #696969;">{{Utils.shortenNumber(minTwitterFollowersLimit)}}</span>
                </div>
                <mat-slider #minTwitterFollowersLimitSlider 
                    class="filter-slider" 
                    color="primary"
                    min="0"
                    max="1000"
                    step="1"
                    value="0"
                    (change)="onTwitterFollowersLimitSliderChanged()"
                    (input)="onMinTwitterFollowersLimitSliderMoved($event.value)">
                </mat-slider>
            </div>
            <button class="filter-slider-reset-button" mat-icon-button
                (click)="minTwitterFollowersLimitSlider.value = 0; onMinTwitterFollowersLimitSliderMoved(0); onTwitterFollowersLimitSliderChanged();">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>

        <div style="display: flex;">
            <div style="width: 220px;">
                <div class="filter-slider-label">
                    <span>Follower (Höchstens):</span>
                    <span style="color: #696969;">{{Utils.shortenNumber(maxTwitterFollowersLimit)}}</span>
                </div>
                <mat-slider #maxTwitterFollowersLimitSlider
                    class="filter-slider"
                    color="primary"
                    min="0"
                    max="1000"
                    step="1"
                    value="1000"
                    (change)="onTwitterFollowersLimitSliderChanged()"
                    (input)="onMaxTwitterFollowersLimitSliderMoved($event.value)">
                </mat-slider>
            </div>
            <button class="filter-slider-reset-button" mat-icon-button 
                (click)="maxTwitterFollowersLimitSlider.value = 1000; onMaxTwitterFollowersLimitSliderMoved(1000); onTwitterFollowersLimitSliderChanged();">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
        
    </div>
</mat-menu>

<!-- More menu -->
<mat-menu #moreMenu="matMenu">
    <div class="menu-title">Mehr</div>
    <button mat-menu-item (click)="openSettingsDialog()">Einstellungen</button>
    <button mat-menu-item (click)="openHelpDialog()">Hilfe</button>
</mat-menu>