<!-- Twitter graph -->
<twitter-graph class="twitter-graph"
    [profiles]="this.twitterProfiles"
    [communities]="this.twitterCommunities"
    (profileClicked)="openTwitterProfileDialog($event)"
    (communityClicked)="openTwitterCommunityDialog($event)">
</twitter-graph>

<!-- Searchbar -->
<mat-form-field class="searchbar" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    
    <mat-label>Suchen</mat-label>
    <input matInput [formControl]="searchFormControl" [matAutocomplete]="searchAutocomplete">
    <mat-autocomplete class="searchbar-autocomplete" #searchAutocomplete="matAutocomplete"
        [displayWith]="stringifyTwitterProfile"
        (optionSelected)="onSearchResultSelected($event.option.value)">
        <mat-option *ngFor="let twitterProfile of filteredTwitterProfiles | async" [value]="twitterProfile">
            <mat-icon class="searchbar-autocomplete-icon">person</mat-icon>
            {{stringifyTwitterProfile(twitterProfile)}}
        </mat-option>
    </mat-autocomplete>

    <button mat-icon-button matSuffix
        [matMenuTriggerFor]="filterMenu"
        (click)="$event.stopPropagation()">
        <mat-icon>filter_list</mat-icon>
    </button>
    <button mat-icon-button matSuffix 
        [matMenuTriggerFor]="moreMenu"
        (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-form-field>

<!-- Filter menu -->
<mat-menu #filterMenu="matMenu">
    <div class="menu-title">Filter</div>
    <div class="filter-menu-body" 
        (click)="$event.stopPropagation()" 
        (mouseleave)="minTwitterFollowersLimitSlider.blur(); maxTwitterFollowersLimitSlider.blur();" 
        (mouseup)="minTwitterFollowersLimitSlider.blur(); maxTwitterFollowersLimitSlider.blur();">

        <div class="filter-slider-label">
            <span>Follower (Mindestens):</span>
            <span style="color: #696969;">{{Utils.shortenNumber(minTwitterFollowersLimit)}}</span>
        </div>
        <mat-slider #minTwitterFollowersLimitSlider 
            class="filter-slider" 
            color="primary"
            min="0"
            max="1000"
            step="1"
            value="0"
            (change)="onTwitterFollowersLimitSliderChanged()"
            (input)="onTwitterMinFollowersLimitSliderMoved($event)">
        </mat-slider>

        <div class="filter-slider-label">
            <span>Follower (Höchstens):</span>
            <span style="color: #696969;">{{Utils.shortenNumber(maxTwitterFollowersLimit)}}</span>
        </div>
        <mat-slider #maxTwitterFollowersLimitSlider
            class="filter-slider"
            color="primary"
            min="0"
            max="1000"
            step="1"
            value="1000"
            (change)="onTwitterFollowersLimitSliderChanged()"
            (input)="onTwitterMaxFollowersLimitSliderMoved($event)">
        </mat-slider>

    </div>
</mat-menu>

<!-- More menu -->
<mat-menu #moreMenu="matMenu">
    <div class="menu-title">Mehr</div>
    <button mat-menu-item (click)="openSettingsDialog()">Einstellungen</button>
    <button mat-menu-item>Hilfe</button>
</mat-menu>