@import '~@angular/material/theming';
@include mat-core();

/* THEME */

$theme-primary: mat-palette($mat-blue, 600);
$theme-accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme((
  color: (
    primary: $theme-primary,
    accent: $theme-accent
  )
));

@include angular-material-theme($theme);


/* GLOBALS */

html, body { 
    width: 100%;
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: "Roboto", "Helvetica Neue", sans-serif; 
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    height: 56px;
    background: #969ea6;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #c8ccd0;
    background-clip: content-box;
}

a:link {
    color: #1e88e5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #1e88e5;
}

a:visited {
    color: #1e88e5;
    text-decoration: none;
}

b {
    font-weight: 500;
}