.title {
    font-weight: 500;
}

.body {
    padding-top: 8px;

    .setting-header {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

        .setting-title {
            font-weight: 500;
        }

        .setting-subtitle {
            color: gray;
            font-size: 11px; 
            line-height: 11px;
        }
    }

    .setting-slider {
        width: 300px;
        margin-left: -4px;
    }
}

.footer {
    padding-top: 0;

    justify-content: flex-end;
}